---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  keywords?: string[];
}

const imageHost = 'https://cdn.aivan.io';

const {
  title = 'Aivan Monceller | Fullstack JavaScript Engineer',
  description = 'Building front-end applications, web APIs, system utilities and development tools using JavaScript, TypeScript, C# and Go.',
  image = 'cover.jpg',
  keywords = ['aivan monceller', 'programming', 'javascript', 'typescript']
} = Astro.props;

const ogImage = `${imageHost}/${image}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords.join(',')} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2S179EH3RR"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2S179EH3RR');
    </script>
  </head>
  <body class="relative">
    <div class="relative flex flex-col min-h-screen">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
